{{#showAlbums}}
<b>MySQL Records: </b>
<table class="table table-condensed">

    <thead>
    <tr>
        <th data-field="title">Title</th>
        <th data-field="artist">Artist</th>
        <th data-field="year">Year</th>
        <th data-field="rating">Rating</th>
    </tr>
    </thead>
    <tbody>
    {{#albums}}
    <tr>
        <td>{{title}}</td>
        <td>{{artist}}</td>
        <td>{{year}}</td>
        <td>{{rating}}</td>
    </tr>
    {{/albums}}
    </tbody>
</table>
{{/showAlbums}}