<div id="container">
    <div class="well-lg">
        <div id="dbMessage"></div>

        <h2>{{pageTitle}}</h2><br>

        <div id="getData">
        </div>

        <h3>Create Database</h3>
        <button id="actionButton" name="CreateDB" class="btn btn-primary">Create DB</button>

        <h3>Fill Data</h3>
        <button id="actionButton" name="FillData" class="btn btn-primary">Fill Data</button>

        <h3>Get Data</h3>
        <button id="actionButton" name="GetData" class="btn btn-primary">Get Data</button>
    </div>
</div>